
/*Body*/

body {
    font-family: 'Belleza', sans-serif;
    background-color: #FEC399;
    width: 100%;
}

/*-------------------------*/

/*Cabeçalho*/

.caixa {
    width: 900px;
    margin: 120px auto 10px;
    text-align: center;
}

.logoHeader {
    width: 400px;
}

.titulo-principal {
    font-family: 'Italiana', serif;
    background-color: #703724;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px;
    color: #FEC399;
    font-size: 27px;
    width: 50%;
}

/*-------------------------*/

/*Conteúdo*/

.container {
    width: 900px;
    margin: 10px auto;
    text-align: center;
    color: #703724;
    line-height: 1.5;
}

.subtitulo-principal {
    margin: 30px 10px 20px;
    font-size: 26px;
    font-weight: bold;
    background-color: #703724;
    color: #FEC399;
    display: inline-block;
    padding: 0 10px;
    border-radius: 10px;
}

.subtitulo {
    margin: 30px auto 10px;
    font-size: 24px;
    font-weight: bold;
}

.sub-privacidade {
    text-align: justify;
}

.paragrafo {
    font-size: 22px;
    margin: 15px auto;
    text-align: justify;
    padding: 0 5px;
}

.paragrafo strong {
    font-weight: bold;
}

.center {
    text-align: center;
}

.info-promo {
    font-size: 18px;
}

.riscado {
    text-decoration: line-through
}

.mapa {
    margin: 20px auto;
}

.mapa-subtitulo {
    margin: 20px auto 10px;
    font-size: 24px;
    font-weight: bold;
}

.mapa-paragrafo {
    font-size: 22px;
    margin-bottom: 10px;
}

.conteudo-promo {
    border: solid 3px #703724;
    border-radius: 30px;
    margin-bottom: 30px;
}

/*-------------------------*/

/*Loading*/

#load {
    position: fixed;
    display: block;
    background-color: #FEC399;
    text-align: center;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #703724;
 }

 .logoHeaderLoad {
    width: 400px;
    margin: 0 auto;
    margin-top: 70px;
}

#load1 {
    background: url(../img/loadLogo.svg) no-repeat center;
    background-size: 250px;
}

#load2 {
    filter: invert(21%) sepia(83%) saturate(461%) hue-rotate(330deg) brightness(93%) contrast(90%);
    animation: rotation 2s infinite linear;

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.subtituloLoad {
    margin: 30px auto 10px;
    font-size: 24px;
    font-weight: bold;
}

/*-------------------------*/


/*imagens serviços*/

.container-card {
    width: 800px;
    margin: 10px auto;
    text-align: center;
}

.card {
    width: 250px;
    display: inline-block;
    border-radius: 10px;
    background-color: #703724;
    margin: 20px auto;
}

.imageCard {
    height: 270px;
    margin: 20px auto;
}

.videocard {
    width: 202px;
}

.imageCard-inicio {
    height: 270px;
    margin: 10px auto;
    border-radius: 50px;
}

.legendaCard {
    font-size: 1.2em;
    color: #FEC399;

}

/*-------------------------*/

/*imagens quem somos*/

.container-card-about {
    width: 800px;
    margin: 10px auto;
    text-align: center;
}

.card-about {
    width: 300px;
    height: 330px;
    display: inline-block;
    border-radius: 10px;
    background-color: #FEC399;
    margin: 20px auto;
}

.imageCard-about {
    height: 280px;
    margin: 2px auto 10px;
    border-radius: 150px;
}

.legendaCard-about {
    font-size: 1.3em;
    color: #FEC399;
    font-weight: bold;
    background-color: #703724;
    border-radius: 50px;
    padding: 5px;

}

/*-------------------------*/

/*imagens promocoes*/

.imageCard-promo {
    width: 95%;
    margin: 10px auto;
    border-radius: 25px;
}



/*-------------------------*/

/*Link social media*/

.media-container {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.media-social {
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 20px 10px;
    padding: 0 30px;
}

.mediaLogo {
    width: 50px;
    display: inline;
    margin: 10px auto;
}

.mediaText {
    font-weight: bold;
    color: #703724;
    text-decoration: none;
    display: block; 
    padding: 0 5px;  
}

.mediaText:hover {
    color: #FEC399;
    border-radius: 5px;
    background-color: #703724;
}

/*-------------------------*/

/*Menu*/

.menu-botoes {
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #FEC399;
    padding: 10px;
    transition: top 0.5s;
    margin: 0;
}

.botoes {
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.hide {
        display: inline-block;
    }

.botoesLogo {
    width: 50px;
    display: inline;
    margin: auto;
}

.botoesText {
    font-weight: bold;
    color: #703724;
    background-color: #FEC399;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 5px;
}

.botoesText:hover {
    color: #FEC399;
    /*border: solid 2px #FEC399;*/
    background-color: #703724;
}


/*-------------------------*/

/*Rodapé*/

.footer {
    padding-top: 10px;
    margin-top: 20px;
    height: 150px;
    background-color: #703724;
}

.caixaFooter {
    width: 900px;
    margin: 10px auto;
    text-align: center;
}

.logoFooter {
    width: 100px;
    margin: 10px auto;
    display: block;
}

.textFooter {
    font-family: 'Italiana', serif;
    font-weight: bold;
    color: #703724;
    background-color: #FEC399;
    border-radius: 5px;
    display: inline-block;
    padding: 2px 8px;
}

.textPrivacidade {
    font-family: 'Belleza', sans-serif;
    font-weight: bold;
    color: #FEC399;
    font-size: 18px;
    display: block;
    margin: 10px auto;
}

/*-------------------------*/

/*Dispositivos tela menor  que 900px*/

@media screen and (max-width: 900px) {
    .caixa, .container, .container-card, .container-card-about, .caixaFooter {
        width: 90%;
    }
    
}

/*-------------------------*/

/*Dispositivos tela menor  que 480px*/

@media screen and (max-width: 480px) {
    .logoHeader, .logoHeaderLoad {
        width: 80%;
    }

    #load1 {
        background-size: 40%;
    }

    .titulo-principal {
        width: 90%;
    }

    .logoFooter {
        width: 20%;
    }

    .hide {
        display: none;
    }

}

/*-------------------------*/
