html {
  scrollbar-width: none; /* ParaFirefox */
  -ms-overflow-style: none; /* Para Internet Explorer e Edge */
  overflow-x: hidden;
  -webkit-touch-callout: none; /* iPhone OS, Safari */
  -webkit-user-select: none; /* Chrome, Safari 3 */
  -khtml-user-select: none; /* Safari 2 */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Possível implementação no futuro */
  /* cursor: default; */
}

html::-webkit-scrollbar {
  width: 0px; /* Para Chrome, Safari, e Opera */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  height: 100%;
  overflow-x: hidden;
}

/*Loading*/

#load {
  position: fixed;
  display: block;
  background-color: skyblue;
  text-align: center;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: darkblue;
}

#loadBorder {
  border: solid 5px;
  border-radius: 50px;
  border-color: skyblue;
  width: 500px;
  margin: 50px auto;
}

#load2 {
  width: 300px;
  margin: 100px auto 0;
}

.subtituloLoad {
  margin: 30px auto 10px;
  font-size: 40px;
  font-weight: bold;
}

/*-------------------------*/

/*Index*/

#load3 {
  position: fixed;
  display: block;
  background-color: skyblue;
  text-align: center;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: darkblue;
}

#loadBorder2 {
  border: solid 5px;
  border-radius: 50px;
  border-color: skyblue;
  width: 500px;
  margin: 50px auto;
}

#load4 {
  width: 300px;
  margin: 50px auto 0;
}

.subtituloLoad2 {
  margin: 30px auto 10px;
  font-size: 40px;
  font-weight: bold;
}

/*-------------------------*/

/*Game*/

#game {
  width: 1920px;
  position: relative;
  margin: 0 auto;
  background-position: bottom;
  background-color: deepskyblue;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#sol,
.sol {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -50px;
}

.sol {
  filter: brightness(1);
}

#fundoEstrela1,
#fundoEstrela2,
.fundoEstrela {
  width: 1920px;
  height: 100%;
  position: absolute;
  bottom: 0;
}
.fundoEstrela {
  display: none;
}

#fundoEstrela1 {
  left: 0;
}

#fundoEstrela2 {
  left: 1919px;
}

#chao1,
#chao2,
.chao {
  width: 1920px;
  height: 200px;
  position: absolute;
  bottom: 0;
}

#chao1 {
  left: 0;
}

#chao2 {
  left: 1919px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#player,
.player,
#playerWalk,
#playerJump,
#playerDown {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.player {
  filter: drop-shadow(0px 55px 10px #000000);
}

#playerWalk,
#playerJump,
#playerDown {
  display: none;
}

#obstacle,
.obstacle {
  width: 25px;
  height: 45px;
  position: absolute;
  bottom: 0px;
}

#obstacle2,
.obstacle2 {
  width: 25px;
  height: 50px;
  position: absolute;
  bottom: 0px;
}

#obstacle3,
.obstacle3 {
  width: 25px;
  height: 55px;
  position: absolute;
  bottom: 0px;
}

#obstacle4,
.obstacle4 {
  width: 25px;
  height: 55px;
  position: absolute;
  bottom: 0px;
}

#obstacle5,
.obstacle5 {
  width: 25px;
  height: 50px;
  position: absolute;
  bottom: 0px;
}

#obstacle6,
.obstacle6 {
  width: 25px;
  height: 45px;
  position: absolute;
  bottom: 0px;
}

#obstacle,
#obstacle2,
#obstacle3,
#obstacle4,
#obstacle5,
#obstacle6 {
  filter: invert(13%) sepia(48%) saturate(5830%) hue-rotate(102deg)
    brightness(103%) contrast(106%);
  display: none;
}

.nuvem {
  width: 200px;
  height: 100px;
  position: absolute;
  filter: brightness(1.5);
}

#nuvem1 {
  bottom: 40%;
  position: absolute;
}

#nuvem2 {
  bottom: 50%;
  position: absolute;
}

#nuvem3 {
  bottom: 60%;
  position: absolute;
}

#nuvem4 {
  bottom: 70%;
  position: absolute;
}

#nuvem5 {
  bottom: 80%;
  position: absolute;
}

#nuvem6 {
  bottom: 95%;
  position: absolute;
}

/*-------------------------*/

/*Configurações de áudio*/

#settings {
  position: fixed;
  right: 60px;
  top: 20px;
  width: 200px;
  height: 200px;
  opacity: 0.2;
}

#settings:hover {
  opacity: 1;
}

fieldset {
  border: solid 1px;
  padding: 10px;
}

.audioEffectButton {
  display: none;
}

.audioEffectButtonKey {
  display: inline-block;
}

/*-------------------------*/

/*Fundo branco*/

#fundoBranco {
  background-color: black;
  display: block;
  text-align: center;
}

#info {
  font-size: 20px;
  color: #ffffff;
  padding: 15px 0;
}

/*-------------------------*/

/*Placar*/

.botoes {
  align-items: center;
  text-align: center;
  position: absolute;
  margin: 20px auto 0;
  left: 30px;
}

.botao {
  width: 30px;
  margin: 30px auto 0;
}

#score {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 100px;
}

.textButton {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  width: 350px;
}

#textController {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  width: 350px;
}

.buttonMap {
  height: 20px;
  vertical-align: middle;
}

.buttonMapTeclado {
  height: 40px;
  vertical-align: middle;
  cursor: pointer;
}

#textButton2,
.buttonsHelp,
.buttonStart,
#maneteOff,
#buttonA {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.fade {
  animation: fadeIn 1s infinite alternate;
}

/*-------------------------*/

/*Top pontuadores*/

#pontuacao {
  line-height: 1.1;
  text-align: center;
  vertical-align: top;
  position: fixed;
  right: 10px;
  top: 100px;
  opacity: 0.2;
}

.historic,
.maxPont {
  display: block;
  margin: 10px auto 10px;
  border: solid 2px;
  border-radius: 10px;
  vertical-align: top;
  background-color: skyblue;
  width: 300px;
}

.titulo-ponto {
  font-size: 25px;
  font-weight: bold;
  background-color: darkblue;
  color: white;
  padding: 10px;
}

.linhaTabel {
  display: block;
  text-align: justify;
}

.pontuacoes {
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
  background-color: skyblue;
  padding: 10px;
}

.name {
  display: inline-block;
  text-transform: capitalize;
}

/*-------------------------*/

/*Input recorde*/

.inputPontuador {
  position: fixed;
  display: none;
  text-align: center;
  align-items: center;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: skyblue;
  z-index: 9998;
  vertical-align: middle;
}

.blocoPontuador {
  width: 300px;
  height: 200px;
  border: solid 2px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  padding: 50px;
  margin-top: 50px;
}

.titulo-recorde {
  margin-bottom: 20px;
}

.pontuadorLabel {
  font-size: 30px;
  font-weight: bold;
  margin-top: 100px;
}

.pontuadorInput {
  height: 30px;
  font-size: 22px;
  font-weight: bold;
  margin: 20px auto;
  border-radius: 10px;
}

.pontuadorButton {
  height: 50px;
  width: 100px;
  font-size: 26px;
  font-weight: bold;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
}

/*-------------------------*/

/*Acessando por telas menores*/

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
    height: 100%;
  }

  #load4 {
    margin-top: 30px;
  }

  #load4,
  #loadBorder2 {
    width: 60%;
  }

  #loadBorder2 {
    border-radius: 30px;
    margin-top: 5%;
  }

  .subtituloLoad2 {
    margin: 10px auto 10px;
    font-size: 20px;
  }

  #textController {
    display: none;
  }

  #settings {
    top: 50px;
  }

  #pontuacao {
    top: 130px;
  }
}

/*Acessando pelo celular*/

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
    height: 100%;
  }

  #load2,
  #loadBorder {
    width: 80%;
  }

  #loadBorder {
    margin-top: 40%;
  }

  #load4 {
    margin-top: 50px;
  }

  #load4,
  #loadBorder2 {
    width: 80%;
  }

  #loadBorder2 {
    border-radius: 30px;
    margin-top: 20%;
  }

  .subtituloLoad2 {
    margin: 10px auto 10px;
    font-size: 10px;
  }

  #info {
    width: 400px;
  }

  #pontuacao {
    top: 280px;
  }

  .historic,
  .maxPont {
    margin: 10px auto 0;
  }
}
